[Desktop Entry]
Name=Ubuntu L10n
Name[sv]=Ubuntu översättningsstatus
Comment=Ubuntu/Launchpad translation statistics viewer
Comment[sv]=Visa översättningsstatistik för Ubuntu
Exec=ubuntu-l10n
Icon=ubuntu-l10n
Terminal=false
Type=Application
Categories=Development;Translation;
Keywords=translation;localization;ubuntu;launchpad;l10n;
